@media screen and (max-width: 1115px) {
    main .content h1{
        font-size: 28px;
    }
}
@media screen and (max-width: 950px) {
    .div{
        display: none;
        height: 0;
    }
    main {
        margin: 10px 0;
        text-align: center;
        width: 95%;
        height: auto;
        flex-direction: column;
    }
    main .mobile {
        width: 100%;
        height: 240px;
        display: block;
    }
    main .desktop {
        display: none;
    }
    main .content {
        padding: 30px;
    }
    main .content h1{
        margin-top: 10px;
        font-size: 28px;
        line-height: 1.15;
        letter-spacing: 0px;
    }
    main .content p {
        margin-right: 0;
        margin-top: 17px;
    }
    main .content .info {
        flex-direction: column;
        margin-right: 0;
        margin-top: 37px;
        margin-bottom: 50px;
    }
    main .content .info div:nth-child(2),
    main .content .info div:nth-child(3) {
        margin-top: 27px;
    }
    .attribution {
        color: hsl(277, 100%, 75%);
        line-height: 1.5;
        right: 50px;
        left: 50px;
        background: none;
    }
    .attribution a{
        color: orange;
    }
}

h1{
    animation: one .5s alternate;
}
p{
    animation: two .5s alternate;
}
.one{
    animation: three .5s alternate;
}
.two{
    animation: four .5s alternate;
}
.three{
    animation: five .5s alternate;
}
.attribution{
    animation: six .5s alternate;
}
img, .after{
    animation: seven 1s alternate;
}

@keyframes one {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes two {
    0%{
        opacity: 0;
        transform: translateX(120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes three {
    0%{
        opacity: 0;
        transform: translateX(120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes four {
    0%{
        opacity: 0;
        transform: translateY(120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes five {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes six {
    0%{
        opacity: 0;
        transform: translateY(120px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes seven {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
